@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap");

body {
  scroll-behavior: smooth;
  font-family: "IBM Plex Sans", serif;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OPTIAurora";
  src: url("OPTIAurora-BoldCondensed.ttf.woff") format("woff");
}

.hero-bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1)),
    url("wallpaperflare.com_wallpaper-1920x1080-upscaled.png") no-repeat center
      center / cover;
  background-size: cover;
}

@layer utilities {
  .navbar-transition {
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  }
}

.link {
  position: relative;
  color: white;
  text-decoration: none;
}

.link:hover {
  color: white;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(202, 138, 4);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.link:hover::before {
  transform: scaleX(1);
}
